---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="About | Goulding Systems" description="About Goulding Systems and Mike Goulding">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="About"
				tagline="Thanks for stopping by! Here is more information if you are curious."
			>
				<img
					width="200"
					height="200"
					src="/assets/mikeportrait.jpeg"
					alt="Mike Goulding portrait"
				/>
			</Hero>

			<section>
				<h2 class="section-title">Background</h2>
				<div class="content">
					<p>
						I'm an Engineering Manager and Software Engineer who loves building web solutions that make a difference.
						 I have over 10 years of experience in the web industry, working with technologies such as PHP, JavaScript,
						  TypeScript, HTML/CSS, Drupal, WordPress, GraphQL, React, NextJS, and more. I enjoy leading teams of talented
						   developers and delivering projects that exceed client expectations. I'm always eager to learn new skills and
						    explore new challenges!
					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Skills</h2>
				<div class="content">
					<p>PHP</p>
					<p>JavaScript</p>
					<p>Perl</p>
					<p>Ruby</p>
					<p>React</p>
					<p>SQL</p>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin: 1.5rem auto;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-0);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
