---
import MainHead from "../components/MainHead.astro";
import Nav from "../components/Nav.astro";
import Hero from "../components/Hero.astro";
import About from "../components/About.astro";
import Services from "../components/Services.astro";
import Projects from "../components/Projects.astro";
import Contact from "../components/Contact.astro";
import Footer from "../components/Footer.astro";
import '../styles/global.css';

interface Props {
	title?: string | undefined;
	description?: string | undefined;
}

const { title, description } = Astro.props;
---

<html lang="en">
	<head>
		<MainHead title={title} description={description} />
	</head>
  <body class="bg-gray-50 text-gray-800 font-sans">
    <main>
	<Nav />
      <Hero />
      <About />
      <Services />
      <Projects />
      <Contact client:visible />
	  <Footer />
    </main>
  </body>
</html>
