---
const currentYear = new Date().getFullYear();
---

<footer class="flex flex-col md:flex-row justify-between items-center gap-12 mt-auto px-8 py-12 text-center text-sm text-gray-500">
  <div class="flex flex-col md:flex-row items-center gap-2 md:gap-4 flex-wrap">
    <p>&copy; {currentYear} Mike Goulding / Goulding Systems</p>
  </div>
  <p class="flex gap-4 flex-wrap justify-center md:justify-end">
    <a href="https://www.linkedin.com/in/mike-goulding/" class="hover:text-gray-700 underline underline-offset-2">LinkedIn</a>
    <a href="https://github.com/mikeethedude" class="hover:text-gray-700 underline underline-offset-2">GitHub</a>
  </p>
</footer>
